#container {
	margin: 0 auto;
	width: 1920px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 70px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
	font-size: 34px;
	background-color: #fff;
	color: #000;
}



header{
    position: fixed;
    max-width: 100%;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    padding: 15px 6%;
}

.junish{
    font-size: 2.1rem;
    font-weight: 700;
    color: white;
}

span{
    color: red;
}

#menu-con{
    font-size: 1.8rem;
    font-weight: 700;
    box-sizing: border-box;
    box-shadow: inset black;
    color: grey;
    text-decoration: none;
}

.change-profile{
    box-sizing: content-box;
}

#hero-image {
    width: 650px;
    height: 500px;
    margin-top: 70px;
}


a {
	text-decoration: none;
}

.butt{
	border: 1px;
	background-color: black;
	height: 50px;
	width: 250px;
	cursor: pointer;
	color: white;
    align-items: center;
    margin-top: -295px;
    margin-left: 125px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
}

.butt:hover{
	background-color: rgb(229, 229, 229);
	color:black;
}



.butt-1{
	border: 1px;
	background-color: black;
	height: 60px;
	width: 550px;
	cursor: pointer;
	color: white;
    align-items: center;
    margin-top: -275px;
    font-size: 25px;
}

.butt-1:hover{
	background-color: rgb(229, 229, 229);
	color:black;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


.change-profile {
    background-color: grey;
    color: #fff;
    font-size: 16px;
    display: flex;
	margin-top: 15px;
    box-shadow: 20px 20px 0px 0px;
    box-sizing: 20px;
}

#change-profile {
	border: 1px;
	background-color: black;
	height: 40px;
	width: 150px;
	cursor: pointer;
	color: white;
    margin-right: 20px;
    align-content: center;

}

#change-profile:hover {
    background-color:red;
}


a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}


#hero {
	margin-top: 100px;
}

#hero-text {
	grid-column: 1/8;
	margin-top: 20px;
	height: 582px;
}

#hero-image {
	grid-column: 8/-1;
	height: 582px;

}


.lightbox {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(30, 30, 30, 30.85);
    background-image: url('../images/junish2.jpg');
    background-repeat: no-repeat;

    background-size: 55vh;
    background-position: 40px center;

    z-index: 5000;

    display: none;
}


.lightbox_close{
    margin-left: 1300px;
    font-size: 40px;
    color: white;
    margin-bottom: -200px;
}


.lightbox_close:hover { opacity: 0.5; color: brown; }

.lightbox article {
    width: 45%;
    margin-left: 40%;
}

.lb_text, .lb_heading {
    text-align: left;
    color: white;
}

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
    color: white;
}


.lightbox:target { display: block; }


/* l */

.lightbox1 {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(30, 30, 30, 30.85);
    background-image: url('../images/logan2.JPG');
    background-repeat: no-repeat;

    background-size: 55vh;
    background-position: 40px center;

    z-index: 5000;

    display: none;
}


.lightbox_close1{
    margin-left: 1300px;
    font-size: 40px;
    color: white;
    margin-bottom: -200px;
}


.lightbox_close1:hover { opacity: 0.5; color: brown; }

.lightbox1 article {
    width: 45%;
    margin-left: 40%;
}

.lb_text, .lb_heading { 
    text-align: left;
    color: white;
}

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
    color: white;
}


.lightbox1:target { display: block; }